.mobile {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.mobile .mobile-home {
  background-color: #ffffff;
  height: 3440px;
  overflow: hidden;
  position: relative;
  width: 393px;
}

.mobile .overlap-group-4 {
  height: 1630px;
  left: 0;
  position: absolute;
  top: 1810px;
  width: 429px;
}

.mobile .custom-forms-email-password-instance {
  height: 260px !important;
  left: 27px !important;
  position: absolute !important;
  top: 1295px !important;
  width: 352px !important;
}

.mobile .custom-forms-email-2 {
  font-family: "Roboto", Helvetica !important;
  font-size: 14px !important;
  letter-spacing: 0.17px !important;
  line-height: 20px !important;
}

.mobile .blue-brush-2 {
  height: 614px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1016px;
  width: 393px;
}

.mobile .brush-brown-3 {
  height: 561px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 472px;
  width: 393px;
}

.mobile .here-every-piece {
  color: #000000;
  font-family: "Ofelia Text-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0.15px;
  line-height: 30px;
  position: absolute;
  top: 651px;
  width: 306px;
}

.mobile .text-wrapper-7 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 14px;
  letter-spacing: 0.4px;
  line-height: 19.9px;
  position: absolute;
  top: 586px;
  width: 320px;
}

.mobile .couple {
  height: 572px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 429px;
}

.mobile .text-wrapper-8 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 35px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 1072px;
  width: 330px;
}

.mobile .overlap-5 {
  height: 436px;
  left: 0;
  position: absolute;
  top: 367px;
  width: 393px;
}

.mobile .brush-brown-4 {
  height: 359px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 77px;
  width: 393px;
}

.mobile .main-tagline {
  color: var(--palette-primary-main);
  font-family: "Ofelia Text-Semibold", Helvetica;
  font-size: 60px;
  font-weight: 400;
  height: 328px;
  left: 7px;
  letter-spacing: -0.5px;
  line-height: 72px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 381px;
}

.mobile .text-wrapper-9 {
  color: #000000;
  font-family: "Ofelia Text-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 43px;
  letter-spacing: 0.15px;
  line-height: 30px;
  position: absolute;
  top: 1453px;
  width: 306px;
}

.mobile .NY-city-girl {
  height: 487px;
  left: -72px;
  object-fit: cover;
  position: absolute;
  top: 867px;
  width: 523px;
}

.mobile .text-wrapper-10 {
  color: #000000;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 11px;
  letter-spacing: 0.4px;
  line-height: 19.9px;
  position: absolute;
  top: 1375px;
  width: 425px;
}

.mobile .logo {
  height: 172px !important;
  left: 125px !important;
  position: absolute !important;
  top: 163px !important;
  width: 142px !important;
}

.mobile .app-bar-5 {
  margin-bottom: -2px !important;
}

.mobile .app-bar-6 {
  box-shadow: 0px 4px 4px #00000040 !important;
  height: 54px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 393px !important;
}

.mobile .app-bar-7 {
  color: var(--palette-primary-contrast) !important;
  text-align: center !important;
  white-space: unset !important;
  width: 179px !important;
}

.mobile .menufilled-9 {
  height: 35px !important;
  position: relative !important;
  width: 35px !important;
}

.mobile .app-bar-8 {
  flex: 0 0 auto !important;
  padding: 0px 11px !important;
}

.mobile .nav-bar-fixed {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  left: 0;
  padding: 10px;
  position: fixed;
  bottom: 0; /* Position it at the bottom of the viewport */
  width: 100%; /* You might want to use 100% if you want it to be responsive across different device widths */
}

.mobile .bottom-navigation-4 {
  background-color: #ffffff !important;
  display: flex !important;
  flex: 0 0 auto !important;
  margin-left: -23.5px !important;
  margin-right: -23.5px !important;
  width: 419px !important;
}

.mobile .icon-instance-node-3 {
  height: 24px !important;
  object-fit: cover !important;
  position: relative !important;
  width: 24px !important;
}

.mobile .bottom-navigation-5 {
  box-shadow: var(--elevation-1) !important;
  height: 54px !important;
  margin-right: -10px !important;
  width: 429px !important;
}
