.menu {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menu .div-3 {
  background-color: #ffffff;
  height: 1225px;
  overflow: hidden;
  position: relative;
  width: 393px;
}

.menu .overlap-5 {
  height: 1039px;
  left: 0;
  position: absolute;
  top: 186px;
  width: 393px;
}

.menu .blue-brush-2 {
  height: 605px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 434px;
  width: 393px;
}

.menu .brush-brown-5 {
  height: 561px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 393px;
}

.menu .text-wrapper-11 {
  color: #000000;
  font-family: "Tisa Sans Pro-Light", Helvetica;
  font-size: 36px;
  font-weight: 300;
  left: 71px;
  letter-spacing: 0;
  line-height: 42px;
  position: absolute;
  top: 780px;
  width: 263px;
}

.menu .creativity-meets {
  color: var(--palette-primary-main);
  font-family: "Ofelia Text-Light", Helvetica;
  font-size: 50px;
  font-weight: 300;
  height: 203px;
  left: 29px;
  letter-spacing: -0.5px;
  line-height: 60px;
  position: absolute;
  text-align: center;
  top: 499px;
  width: 334px;
}

.menu .menu-item-instance {
  left: 90px !important;
  position: absolute !important;
  top: 9px !important;
}

.menu .menu-item-2 {
  color: var(--palette-text-primary) !important;
  font-family: "Roboto", Helvetica !important;
  font-size: 60px !important;
  font-style: unset !important;
  font-weight: 300 !important;
  letter-spacing: -0.5px !important;
  line-height: 72px !important;
}

.menu .menu-item-3 {
  height: 84px !important;
  left: 89px !important;
  position: absolute !important;
  top: 113px !important;
}

.menu .menu-item-4 {
  left: 90px !important;
  position: absolute !important;
  top: 205px !important;
}

.menu .menu-item-5 {
  left: 91px !important;
  position: absolute !important;
  top: 297px !important;
}

.menu .button-subscribe-3 {
  height: 57px;
  left: 18px;
  position: absolute;
  top: 3153px;
  width: 350px;
}

.menu .overlap-group-8 {
  height: 56px;
  position: relative;
}

.menu .rectangle-3 {
  background-color: #d3c1a5;
  border: 1px solid;
  border-color: #000000;
  border-radius: 25px;
  height: 39px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 294px;
}

.menu .arrow-redo-instance-wrapper {
  height: 29px;
  left: 277px;
  position: absolute;
  top: 4px;
  width: 31px;
}

.menu .text-wrapper-12 {
  color: #574a3e;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 350px;
}

.menu .logo-2 {
  height: 80px !important;
  left: 158px !important;
  position: absolute !important;
  top: 70px !important;
  width: 66px !important;
}
