.spacing-vertical {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
}

.spacing-vertical .min-height-4 {
  position: relative;
  width: 1px;
}

.spacing-vertical.visibility-true {
  background-color: #0096881f;
  border-bottom-style: dashed;
  border-bottom-width: 1px;
  border-color: #009688;
  border-top-style: dashed;
  border-top-width: 1px;
}

.spacing-vertical.visibility-false.six {
  width: 24px;
}

.spacing-vertical.visibility-false.one {
  width: 4px;
}

.spacing-vertical.visibility-true.one {
  width: 6px;
}

.spacing-vertical.five.visibility-false {
  width: 20px;
}

.spacing-vertical.five.visibility-true {
  width: 22px;
}

.spacing-vertical.visibility-false.three {
  width: 12px;
}

.spacing-vertical.visibility-true.seven {
  width: 30px;
}

.spacing-vertical.visibility-false.seven {
  width: 28px;
}

.spacing-vertical.visibility-true.three {
  width: 14px;
}

.spacing-vertical.visibility-true.eight {
  width: 34px;
}

.spacing-vertical.four.visibility-true {
  width: 18px;
}

.spacing-vertical.visibility-true.six {
  width: 26px;
}

.spacing-vertical.visibility-true.two {
  width: 10px;
}

.spacing-vertical.visibility-false.two {
  width: 8px;
}

.spacing-vertical.visibility-false.eight {
  width: 32px;
}

.spacing-vertical.visibility-false.four {
  width: 16px;
}

.spacing-vertical.one .min-height-4 {
  height: 8px;
}

.spacing-vertical.seven .min-height-4 {
  height: 56px;
}

.spacing-vertical.six .min-height-4 {
  height: 48px;
}

.spacing-vertical.eight .min-height-4 {
  height: 64px;
}

.spacing-vertical.three .min-height-4 {
  height: 24px;
}

.spacing-vertical.four .min-height-4 {
  height: 32px;
}

.spacing-vertical.five .min-height-4 {
  height: 40px;
}

.spacing-vertical.two .min-height-4 {
  height: 16px;
}
