.search {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.search .div-2 {
  background-color: #ffffff;
  height: 2496px;
  overflow: hidden;
  position: relative;
  width: 393px;
}

.search .overlap-2 {
  height: 639px;
  left: 0;
  position: absolute;
  top: 146px;
  width: 393px;
}

.search .links-logo {
  height: 80px;
  left: 163px;
  position: absolute;
  top: 0;
  width: 66px;
}

.search .brush-brown {
  height: 561px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 40px;
  width: 393px;
}

.search .slider-instance {
  height: 64px !important;
  left: 2px !important;
  position: absolute !important;
  top: 387px !important;
  width: 95px !important;
}

.search .slider-2 {
  width: 95px !important;
}

.search .slider-3 {
  left: 0 !important;
  position: absolute !important;
  top: 5px !important;
  width: 95px !important;
}

.search .rooster-color {
  height: 240px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 146px;
  width: 197px;
}

.search .hpim {
  height: 240px;
  left: 216px;
  object-fit: cover;
  position: absolute;
  top: 147px;
  width: 175px;
}

.search .slider-4 {
  height: 64px !important;
  left: 284px !important;
  position: absolute !important;
  top: 387px !important;
  width: 95px !important;
}

.search .snoqualmie {
  height: 208px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 431px;
  width: 389px;
}

.search .overlap-3 {
  height: 1500px;
  left: -2px;
  position: absolute;
  top: 945px;
  width: 397px;
}

.search .blue-brush {
  height: 605px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 212px;
  width: 393px;
}

.search .brush-brown-2 {
  height: 561px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 817px;
  width: 393px;
}

.search .we-are-a-passionate {
  color: #000000;
  font-family: "Ofelia Text-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 45px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 296px;
  width: 306px;
}

.search .p {
  color: #000000;
  font-family: "Tisa Sans Pro-Light", Helvetica;
  font-size: 48px;
  font-weight: 300;
  left: 21px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  top: 984px;
  width: 376px;
}

.search .custom-forms-email-password {
  height: 260px !important;
  left: 21px !important;
  position: absolute !important;
  top: 1240px !important;
  width: 352px !important;
}

.search .custom-forms-email-instance {
  font-family: "Roboto", Helvetica !important;
  font-size: 14px !important;
  letter-spacing: 0.17px !important;
  line-height: 20px !important;
}

.search .snoqualmie-2 {
  height: 274px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 393px;
}

.search .button-subscribe {
  height: 57px;
  left: 18px;
  position: absolute;
  top: 3153px;
  width: 350px;
}

.search .overlap-4 {
  height: 56px;
  position: relative;
}

.search .rectangle {
  background-color: #d3c1a5;
  border: 1px solid;
  border-color: #000000;
  border-radius: 25px;
  height: 39px;
  left: 35px;
  position: absolute;
  top: 0;
  width: 294px;
}

.search .arrow-redo {
  height: 29px;
  left: 277px;
  position: absolute;
  top: 4px;
  width: 31px;
}

.search .text-wrapper-6 {
  color: #574a3e;
  font-family: "Rounded Mplus 1c Bold-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 350px;
}

.search .app-bar-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 393px !important;
}

.search .app-bar-2 {
  color: var(--palette-primary-contrast) !important;
  text-align: center !important;
}

.search .menufilled-2 {
  height: 35px !important;
  position: relative !important;
  width: 35px !important;
}

.search .app-bar-3 {
  flex: 0 0 auto !important;
  padding: 0px 30px !important;
}

.search .app-bar-4 {
  margin-right: -1px !important;
}

.search .bottom-navigation-2 {
  background-color: #ffffff !important;
  display: flex !important;
  left: -2px !important;
  position: fixed !important;
  top: 798px !important;
  width: 393px !important;
}

.search .icon-instance-node-2 {
  height: 24px !important;
  object-fit: cover !important;
  position: relative !important;
  width: 24px !important;
}

.search .bottom-navigation-3 {
  box-shadow: var(--elevation-1) !important;
  height: 54px !important;
  margin-right: -36px !important;
  width: 429px !important;
}
