.stack {
  align-items: flex-start;
  display: inline-flex;
  position: relative;
}

.stack .class-43 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-top: -1px !important;
}

.stack .class-44 {
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.stack .class-45 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
}

.stack .class-46 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.stack .class-47 {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-top: -1px !important;
}

.stack .class-48 {
  flex: 0 0 auto !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
}

.stack .instance {
  flex: 0 0 auto !important;
  margin-bottom: -1px !important;
  margin-left: -1px !important;
  margin-right: -1px !important;
  margin-top: -1px !important;
}

.stack.spacing-0-five-1 {
  gap: var(--sizing-5);
}

.stack.row {
  flex-direction: column;
}

.stack.spacing-0-seven {
  gap: var(--sizing-7);
}

.stack.spacing-0-two {
  gap: var(--sizing-2);
}

.stack.spacing-0-six {
  gap: var(--sizing-6);
}

.stack.spacing-0-eight {
  gap: var(--sizing-8);
}

.stack.spacing-0-three {
  gap: var(--sizing-3);
}

.stack.spacing-0-four {
  gap: var(--sizing-4);
}

.stack.instances-one {
  flex-direction: column;
}

.stack.instances-five.spacing-0-one {
  gap: var(--sizing-1);
}

.stack.spacing-0-one.instances-three {
  gap: var(--sizing-1);
}

.stack.instances-two.column {
  flex-wrap: wrap;
}

.stack.instances-three.column {
  flex-wrap: wrap;
}

.stack.instances-four.spacing-0-one {
  gap: var(--sizing-1);
}

.stack.instances-five.column {
  flex-wrap: wrap;
}

.stack.instances-four.column {
  flex-wrap: wrap;
}

.stack.instances-one.spacing-0-one {
  gap: 8px;
}

.stack.instances-two.spacing-0-one {
  gap: var(--sizing-1);
}

.stack.instances-four.spacing-0-zero.column {
  gap: 0px 0px;
}

.stack.instances-five.spacing-0-zero.column {
  gap: 0px 0px;
}

.stack.instances-three.spacing-0-zero.column {
  gap: 0px 0px;
}

.stack.column.spacing-0-zero.instances-two {
  gap: 0px 0px;
}
